node_modules/
.next/
out/
coverage/
*.tsbuildinfo
next-env.d.ts
.env*
!.env.example
.superpowers/
.worktrees/
source/pptx-raw/
.DS_Store
Thumbs.db
npm-debug.log*

# create-next-app
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
*.pem
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel
